
<p>
  <strong>Nome:</strong>
  <%= @school.nome %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @school.cnpj %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
