

<p>
  <strong>Nome:</strong>
  <%= activity.nome %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= activity.Discipline.try(:nome) %>
</p>


<p>
  <strong>Data:</strong>
  <%= activity.data %>
</p>



